.content {
  height: 160px;
}
.content,
#imgBox {
  overflow: hidden;
  /* width: 336px;
  margin-left: 50%;
  transform: translateX(-50%); */
}
.input-expression{
  width: auto;
  margin: 30px auto;
}
.input-expression td{
  height: 40px;
  padding: 10px;
  vertical-align: top;
  text-align: center;
}
.text-expression td{
  padding: 0;
}
.text-expression td span{
  float: left;
  padding: 5px 10px;
  text-align: center;
}
.br-border{
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.b-border{
  border-bottom: 1px solid #000;
}
.r-border{
  border-right: 1px solid #000;
}

#imgBox div{
  display: inline-block;
}
#imgBox>div{
  float: left;
  text-align: center;
}
.box{
  min-width: 10px;
  min-height: 23px;
  margin: 3px;
}
.v-line{
  width: 1px;
  height: 56px;
  background: #000;
}
.h-line{
  width: 100%;
  min-width: 30px;
  height: 1px;
  background: #000;
}
#toolbar {
  width: 100%;
  height: 60px;
}

#toolbar button {
  float: right;
  width: 70px;
  height: 30px;
  background: rgba(245, 247, 250, 1);
  border: 1px solid rgba(220, 222, 227, 1);
  cursor: default;
}
#toolbar button:hover {
  background: #fff;
}
#toolbar #doOk {
  margin-right: 30px;
}

#preview_slot {
  overflow: hidden;
  /* width: 236px; */
  margin: 0 auto;
  margin-top: 30px;
}


.imgBox > div{
  float: left;
}