// 搜索框 相关样式处理
.search-main {
    .common-item {
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
  }
}

//  tabs标签加宽处理
.label-padding {
  padding: 0 18px;
}

.el-dropdown-menu.el-popper {
  // top: 36px !important;
  overflow-y: scroll;
  max-height: 50vh;
}

*[class^="cdss-"] {
  box-sizing: content-box;
}
.cdss-drugrec-questionwrap {
  box-sizing: content-box !important;
}
.cdss-quest-item-inputwrap input[type="text"] {
  width: 86% !important;
}
.cdss-askbob-search-wrap {
  margin-left: -10px !important;
  position: absolute;
  width: 100%;
  background-color: rgb(255, 255, 255) !important;
  height: 104px;
  box-sizing: border-box;
  z-index: 3;
  top: 0px;
}
.cdss-statementbtn {
  margin-left: -10px !important;
  font-family: PingFangSC-Regular;
  position: absolute;
  bottom: 0px;
  color: rgb(102, 102, 102) !important;
  text-align: center;
  width: 100%;
  height: 36px;
  line-height: 36px;
  background-color: rgb(248, 249, 250) !important;
  user-select: none;
  font-size: 12px;
}
.cdss-eval-table-wrap {
  width: 95% !important;
}
.cdss-tab-ctn-right {
  width: 95% !important;
}
.cdss-disease-detail-wrap {
  width: 95% !important;
}
.cdss-prescription-detail-wrap {
  width: 95% !important;
}
.cdss-disease-detail-name-icon,
.cdss-disease-detail-name-icon-add {
  top: -4px !important;
}
.cdss-disease-common-drug-list-sub span:nth-child(1) {
  display: block;
  width: 180px !important;
  max-width: 180px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cdss-drug-basic-icon {
  margin-left: 180px !important;
}
#tags-view-container:hover {
  overflow-x: auto;
} 

#tags-view-container.scroll_content::-webkit-scrollbar {
  overflow: auto;
  width: 10px !important;
  height: 4px !important;
  border-radius: 8px !important;
}

#tags-view-container.scroll_content::-webkit-scrollbar-button {
  background-color: rgba(222, 223, 225, 0) !important;
}

#tags-view-container.scroll_content::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0) !important;
}

#tags-view-container.scroll_content::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0) !important;
}

#tags-view-container.scroll_content::-webkit-scrollbar-thumb {
  // background-color: rgba(0, 0, 0, 1) !important;
  background-color: #dddee0 !important;
  border-radius: 8px !important;
}
#tags-view-container.scroll_content::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 1) !important;
}

#tags-view-container.scroll_content::-webkit-scrollbar-resizer {
  background-color: rgba(0, 0, 0, 1) !important;
}
