html {
    overflow: auto;
}

body {
    overflow: auto;
    margin: 8px 11px 26px 11px;
}

#specharsTab {
    width: 100%;
    margin: 0;
    background: rgba(255, 255, 255, 1);
}

/*tabs*/
.tabhead {
    width: calc(100% - 2px);
    margin-bottom: 7px;
    background: rgba(240, 242, 245, 1);
    border: 1px solid rgba(240, 242, 245, 1);
    border-radius: 4px;
    position: relative;
    z-index: 10;
}

.tabhead span {
    width: 87px;
    height: 32px;
    padding: 0;
    border: 0;
    font-family: MicrosoftYaHei;
    color: rgba(153, 153, 153, 1);
    text-align: center;
    line-height: 32px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
}

.tabhead span.focus {
    background: rgba(255, 255, 255, 1);
}

/*表格*/
.tabbody {
    border-right: 0;
    border-bottom: 0;
}

.tabbody span {
    width: 63px;
    height: 36px;
    margin: 0;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #605d5a;
    line-height: 36px;
    border: 1px solid rgba(220, 223, 230, 1);
    border-top: 0;
    border-left: 0;
}